transformers==4.28.0
faiss-cpu==1.7.3
sentence-transformers==2.2.0
langchain==0.0.138
openai==0.27.8
tiktoken==0.2.3
PyMuPDF==1.18.19
torch==1.13.1
huggingface_hub==0.14.1
accelerate==0.18.0
bitsandbytes==0.39.0
